/*Custom Stylesheet */
/*
/*
/*
/*
/*
===========================================*/

/*HEADER
=================================================*/

body>header
{
    background: url('../images/header.jpg') top center no-repeat;
    background-size: cover;

    width: 100%;
    min-height: 680px;
}

.logo
{
    margin-top: 1em;
}

header nav
{
    text-align: right;
    margin-top: 1em;
}

header nav ul li
{
    display: inline-block;
}

header nav ul li a
{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.75em 2em;
    font-weight: lighter;
    font-size: 1.25rem;
}

 header nav ul li a.button {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* border radius */
  border:2px solid #fff;
         font-weight: lighter;
     background-color: transparent;
      }

 header nav ul li a.button:hover {
  background:#fff;
  color:#009be8;
 }

header .headertext {
    margin-top: 10em;
    
    animation-delay: 0.7s;
    -webkit-animation-delay: 0.7s;
}

header h1
{
      color:#fff;
  font-weight:lighter;
  font-size:5.75rem;
  line-height: 1;
  text-shadow: 0 1px 2px rgba(0,0,0,.2);
  margin-bottom: 0.3em;

}

 header p {
  color:#d5d5d5;
  font-size: 1.75rem;
  line-height: 1.5;
  text-shadow: 0 1px 2px rgba(0,0,0,.2);
  margin-bottom: 1.2em;
  font-weight: lighter;
 }

 header p strong {
  color:#fff;
 }

header button
{
    height: 50px;
}

header input[type="email"]
{
    height: 50px;
}

/*BENEFITS
=================================================*/

.benefits
{
    padding: 4em 0 0;
    text-align: center;
}

.benefits h2
{
  color:#009be8;
  font-weight: lighter;
}

 .benefits p {
  color:#9d9d9d;
  font-size:1.75rem;
     font-weight: lighter;
}

/*Pricing
=================================================*/

.pricing
{
    background: #009be8;
    padding: 4em 0;
    text-align: center;
}

.pricing h2
{
  color:#fff;
  font-weight:lighter;
  text-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.pricing p
{
  color:#fff;
  text-shadow: 0 1px 2px rgba(0,0,0,.2);
  font-size:1.75rem;
  font-weight: lighter;
}

.pricebox
{
      background-color: #fff;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.2);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
  box-shadow: 0 1px 3px rgba(0,0,0,.2);
  margin-top:3em;
  height:400px;
  position: relative;

}

.pricebox.deal
{
      margin-top:2em;
  height:430px;
}

.pricebox header
{
      background-color: #f1f1f1;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.2);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
  box-shadow: 0 1px 3px rgba(0,0,0,.2);
  padding:1em 0;
  margin-bottom:2em;

}

 .pricebox header h3 {
  color:#4d4d4d;
  font-size:1.4em;
  text-transform: uppercase;
  margin:0;
  font-weight: normal;
 }
 .pricebox section button {
  background:#2ecc71;
  position:absolute;
  bottom:1em;
  width:90%;
  left:0;
  right:0;
  margin:0 auto;
  text-align: center;
 }
 .pricebox section button:hover {
  background:#1fae5c;
 }

 .pricebox section h4 {
  display:inline-block;
  color:#009be8;
  font-size: 5em;
  font-weight: 900;
  vertical-align: top;
  margin-right:10px;
 }


 .pricebox section h4 span {
  font-size:0.5em;
  line-height: 1;
  vertical-align: top;
  position:relative;
  top:20px;
 }
 .pricing .pricebox section p {
  display:inline-block;
  color:#9d9d9d;
  text-shadow:none;
  line-height: 1;
  position:relative;
  top:2.25em;
  font-size:1.1em;
  text-align: left;
 }

 .pricebox section ul li {
  font-size:1.5rem;
  margin-bottom: 1.2em;
  list-style-type: none;
  color:#8d9d9d;

 }


/*Testimonials
=================================================*/

.testimonials
{
    padding: 4em 0;
    text-align: center;
}

.testimonials h2
{
  color:#009be8;
  font-weight: lighter;
}

 .testimonials p {
  color:#9d9d9d;
  font-size:1.75rem;
     font-weight: lighter;
}

 .testimonials blockquote {
  border:none;
  text-align: left;
  padding:0 1.5em 0 0;
  font-size:1.35rem;
  color:#4d4d4d;
  line-height: 1.4;
  margin: 1em 0;
  font-style: oblique;
  font-weight: 400;
 }

.testimonials .avatar img
{
    float: left;
    display: inline;
    margin-right: 1em;
    width: 65px;
    height: 65px;
    border-radius: 50%;

}

.testimonials .avatar p
{
    text-align: left;
    padding-top: 1em;
    color:#5d5d5d;
    font-weight: bold;
}

.action
{
    padding: 4em 0;
    text-align: center;
    background: url(../images/action.jpg) top center no-repeat;
    background-size: cover;
    min-height: 180px;
    width: 100%;
}

.action h2
{
  color:#fff;
  font-weight:lighter;
  text-shadow: 0 1px 2px rgba(0,0,0,.2);
  font-size: 3.5rem;
}

.action p {
  color:#fff;
  text-shadow: 0 1px 2px rgba(0,0,0,.2);
  font-size:1.50rem;
    font-weight: lighter;
 }

.action .row
{
    margin-top: 1em;
}

.action button
{
    height: 50px;
}

.action input[type="email"]
{
    height: 50px;
}

footer
{
    background: #009be8;
    padding-top: 0.5em;
}

footer nav ul
{
    margin-top: 0.5em;
}

footer nav ul li
{
    margin: 0;
    display: inline;
}

 footer nav ul li a {
  color:#fff;
  text-decoration:none;
  text-transform: uppercase;
  margin:0 1em 0 0;
  font-size:1.50rem;
  font-weight: lighter;
 }

footer img
{
    float: right;
}

 footer p {
  color:#fff;
  line-height: 1;
  text-transform: uppercase;
  font-size:1rem;
  margin-top: 1em;
  font-weight: lighter;
 }

footer nav ul li a:hover
{
    color: whitesmoke;
}



